h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: navy wavy underline;
    letter-spacing: 15px;
    font-size: 80px;
}
a {
    text-decoration: none;
}
p {
    line-height: 2;
}