section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e5989b;
    width: 70%;
    height: 20%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

